.PlanTrip {
  margin-top: 5vh;
  .center {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../public/images/PlanTripCover.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-start;
    height: 500px;
    padding: 1.3%;
    color: white;
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    a {
      margin-top: 30px;
      @include button(white);
      color: $DarkColor;
      font-weight: 600;
    }
  }
}
