.StreamBlock {
  margin-top: 5vh;
  .center {
    background-color: $GreyColor;
    padding: 1.3%;
    display: flex;
    justify-content: space-between;
    .left {
      .img {
        width: 530px;
        height: 400px;
        overflow: hidden;
        position: relative;
        img {
          width: 540px;
          position: absolute;
          left: 0;
          top: -250px;
        }
        h2 {
          position: absolute;
          bottom: 7%;
          left: 5%;
          color: white;
          font-size: 2.5rem;
          font-weight: 800;
        }
      }
    }
    .right {
      padding-top: 70px;
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      h3 {
        font-size: 2.2rem;
        font-weight: 600;
        padding-bottom: 20px;
      }
      p {
        padding-left: 30px;
        padding-right: 30px;
      }
      a {
        @include button($DarkColor);
        margin: auto;
      }
    }
  }
}
